<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Book</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
          integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="d-flex bg-dark text-light" style="justify-content: center; align-items: center; width: 100%;">
    <div class="container-fluid">
        <div class="container">
            <header class="text-center position-static sticky-top mt-4">
                <h1><b>គ្រប់គ្រង​សិស្ស​ នៃប្រជាជនកម្ពុជា</b></h1>
                <nav class="my-4">
                    <a class="btn me-2 btn-outline-light active" href="/"><i class="fa-solid fa-house"></i></a>
                    <a class="btn btn-primary" href="/add"><i class="fa-solid fa-user-plus"></i></a>
                </nav>
            </header>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
